@import 'util';
.app-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: rem(97);
    border-top: rem(1) solid #231e22;
    overflow: hidden;
}

.footer-bg {
    margin: -50px;
    height: 200%;
    width: 200%;
    background: #202228;
    // opacity: .8;
    // filter: blur(60px);
}

.footer-nav {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: space-around;
    .item {
        display: block;
        padding: rem(5) 0 rem(5);
        width: 25%;
        height: 100%;
        color: #fff;
        .icon {
            font-size: rem(48);
            color: #a7a7a7;
        }
        .title {
            color: #7c7a7b;
        }
    }
    .item.router-link-active {
        .icon {
            color: #fff;
        }
        .title {
            color: #fff;
        }
    }
}