// util.scss
// ------------------------
// scss全局变量方法
//**************************************************************
//        Rem字体适配计算 Params[pixels]
//**************************************************************
$font_size:72;
@function rem($pixels) {
    @return $pixels / $font_size+rem;
}

//**************************************************************
//        多行文字截断 Params[line_count, line-height]
//**************************************************************
@mixin line-ellipsis ($lines, $line-height: 1.3em) {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $lines;
    overflow: hidden;
    line-height: $line-height;
    // max-height: $line-height * $lines;
}

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

$main-tone:#d43c33; //云音乐主色调
$main-font-color:#333;
$main-bg-color:#fbfcfd;