 @import './reset.scss';
 @import './util.scss';
 @import './icon.scss';
 .fl {
     float: left;
 }
 
 .fl {
     float: right;
 }
 
 .tl {
     text-align: left;
 }
 
 .tr {
     text-align: right;
 }