@import 'util.scss';
// @import 'footer.scss';
//header
.app-header {
    position: fixed;
    top: 0;
    // font-size: rem(26px);
    // height: rem(86px);
    width: 100%;
    overflow: hidden;
    z-index: 99;
    border-bottom: rem(1) solid #c6c6c6;
    .header-search {
        position: relative;
        display: flex;
        padding: rem(13) 0;
        line-height: rem(60);
        text-align: center;
        vertical-align: top;
        background: $main-tone;
    }
}

.cancel {
    position: absolute;
    right: -14%;
    width: 14%;
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
    transition: all .5s;
}

.header-music,
.header-voice {
    position: absolute;
    top: 0;
    display: block;
    line-height: rem(86);
    height: 100%;
    width: 15%;
    cursor: pointer;
    .icon {
        font-size: rem(45);
        color: #fff;
    }
    &:active {
        .icon {
            color: #222327;
        }
    }
}

.header-voice {
    left: 0;
}

.header-music {
    right: 0;
    opacity: 1;
    transition: all .3s;
}

.search-group {
    position: relative;
    margin-left: 15%;
    width: 70%;
    transition: all .5s;
    input {
        vertical-align: top;
        height: rem(60);
        width: 100%;
        font-size: rem(26);
        border-radius: 10px;
        border: none;
        outline: none;
    }
    label {
        position: absolute;
        width: 100%;
        height: 100%;
        color: #ccc;
        font-size: rem(26);
        transition: all .3s;
        .icon {
            padding: 0 rem(17);
            font-size: rem(26);
        }
    }
}

//搜索状态
.app-header.is-search {
    .header-music {
        opacity: 0;
    }
    .header-voice {
        display: none;
    }
    .search-group {
        margin-left: 2%;
        width: 85%;
        input {
            padding-left: rem(58);
        }
        label {
            text-align: left;
        }
    }
    .cancel {
        right: 0;
    }
}

//header-nav
.header-nav {
    position: relative;
    height: rem(80);
    line-height: rem(80);
    background: #f7f8f8;
    box-shadow: 0 0px 30px rgba(0, 0, 0, 0.3);
    .nav-menu {
        display: flex;
        justify-content: space-around;
        font-size: rem(28);
    }
    li {
        width: 25%;
        text-align: center;
        a {
            display: block;
            width: 100%;
            height: 100%;
            color: $main-font-color;
        }
        span {
            display: inline-block;
            padding: 0 rem(11);
        }
    }
    .active {
        a {
            color: $main-tone;
        }
    }
    .nav-slider {
        position: absolute;
        bottom: 0;
        height: rem(4);
        background: $main-tone;
        left: 34px;
        width: 141px;
        transition: all .3s;
    }
}

.app-content {
    padding: rem(166) 0 rem(97);
    //轮播图
    .slider {
        height: rem(276);
        background: #fff;
    }
    .Recommend {
        display: flex;
        text-align: center;
        height: rem(207);
        border-bottom: rem(1) solid #e1e2e3;
    }
}

.Recommend {
    padding: rem(17) 0 rem(17);
    .item {
        width: 33.333%;
        padding-top: rem(13);
    }
    .title {
        padding: rem(13) 0;
        font-size: rem(23);
    }
}

//-------------------------------img-icon-----------------------------------
.img {
    display: inline-block;
    vertical-align: top;
    width: rem(110);
    height: rem(110);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.img-FM {
    background-image: url('../assets/img/music_03.jpg');
}

.img-Recommend {
    background-image: url('../assets/img/music_05.jpg');
}

.img-Hot-top {
    background-image: url('../assets/img/music_07.jpg');
}

.img-calendar {
    background-image: url('../assets/img/music_13.jpg');
}

.img-album {
    background-image: url('../assets/img/music_list_03.jpg');
}

.img-cd {
    background-image: url('../assets/img/music_list_16.jpg');
}

.img-mv {
    // background-image: url('../assets/img/music_list_16.jpg');
}

.img-radio {
    background-image: url('../assets/img/music_031.jpg');
}

//-------------------------------list style-----------------------------------
.list-content {
    padding: rem(40) rem(22) 0;
}

.item-box {
    .title {
        line-height: rem(32);
        font-size: rem(32);
        .img {
            margin-right: rem(13);
            height: rem(30);
            width: rem(32);
        }
        .more {
            float: right;
            font-size: rem(23);
            line-height: rem(32);
            color: #666;
            text-decoration: underline;
        }
    }
    .list-warp {
        display: flex;
        padding: rem(20) 0;
        justify-content: space-between;
        flex-wrap: wrap;
        a {
            color: #333;
        }
    }
    // .sole-push {}
}

.song-list {
    li {
        margin-bottom: rem(35);
        width: rem(215);
        height: rem(304);
        overflow: hidden;
    }
    .icon-triangle-right {
        position: absolute;
        right: rem(8);
        margin: rem(5) 0;
        width: rem(50);
        height: rem(50);
        line-height: rem(45);
        font-size: rem(20);
        text-align: center;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.5);
        border: rem(4) solid #fff;
        &:before {
            margin-left: 12px;
        }
    }
    .label {
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        width: 60%;
        height: rem(36);
        padding-right: rem(6);
        line-height: rem(36);
        font-size: rem(20);
        text-align: right;
        color: #fff;
        background: linear-gradient(-180deg, rgba(0, 0, 0, 0.4), transparent);
        background: -webkit-linear-gradient(-180deg, rgba(0, 0, 0, 0.4), transparent);
        text-shadow: 0 rem(3) rem(2) #1b1715;
        .icon {
            font-size: rem(24);
            vertical-align: -4px;
        }
    }
    .label-play {
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        height: rem(60);
        line-height: rem(60);
        padding: 0 rem(68) 0 rem(8);
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        font-size: rem(23);
        background: -webkit-linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
        background: -moz-linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
        background: -o-linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
        background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
    }
    .item-img {
        position: relative;
        height: 0;
        width: 100%;
        margin-bottom: rem(11);
        padding-bottom: 100%;
        background: #eee;
        img {
            width: 100%;
        }
    }
    .item-title {
        font-size: rem(25);
        line-height: rem(34);
        max-height: rem(68);
        p {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        p:nth-child(2) {
            color: #a7a7a7;
        }
    }
}

.sole-push {
    .item-img {
        position: relative;
        height: rem(194);
        overflow: hidden;
        img {
            width: 100%;
        }
    }
    .label {
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        width: 60%;
        height: rem(36);
        padding-right: rem(6);
        line-height: rem(36);
        font-size: rem(20);
        text-align: right;
        color: #fff;
        background: linear-gradient(-180deg, rgba(0, 0, 0, 0.4), transparent);
        background: -webkit-linear-gradient(-180deg, rgba(0, 0, 0, 0.4), transparent);
        text-shadow: 0 rem(3) rem(2) #1b1715;
        .icon {
            font-size: rem(24);
            vertical-align: -4px;
        }
    }
    li {
        width: rem(330);
        // background: #eee;
    }
    li:nth-child(3) {
        width: 100%;
        margin-bottom: rem(35);
        padding: rem(19) 0 0;
        border-top: rem(2) solid #e1e2e3;
        .item-img {
            height: rem(262);
        }
        .item-title {
            @include line-ellipsis(1);
        }
    }
    .item-title {
        padding: rem(14) 0;
        // height: rem(94);·
        font-size: rem(25);
        @include line-ellipsis(2);
    }
}

.sole-push.mv {
    li {
        margin-bottom: rem(35);
    }
    li:nth-child(3) {
        width: rem(330);
        margin-bottom: rem(35);
        padding: 0;
        border-top: none;
        .item-img {
            height: rem(194);
        }
        .item-title {
            @include line-ellipsis(2);
        }
    }
    .label {
        .icon {
            padding-right: rem(8);
            vertical-align: -1px;
        }
    }
}

//-------------------------------app-cont-footer style-----------------------------------
.app-cont-footer {
    padding: rem(30) 0 rem(80);
    text-align: center;
    font-size: rem(23);
    border-top: rem(1) solid #e1e2e3;
    p {
        line-height: rem(40);
        margin-bottom: rem(23);
        color: #999;
    }
    .btn {
        display: inline-block;
        vertical-align: top;
        height: rem(56);
        line-height: rem(56);
        padding: 0 rem(35);
        background: #fff;
        color: $main-tone;
        font-size: rem(23);
        border: rem(2) solid $main-tone;
        border-radius: rem(5);
        cursor: pointer;
    }
}