@font-face {
    font-family: 'iconfont';
    /* project id 104803 */
    src: url('//at.alicdn.com/t/font_xh651p968kbg9zfr.eot');
    src: url('//at.alicdn.com/t/font_xh651p968kbg9zfr.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_xh651p968kbg9zfr.woff') format('woff'), url('//at.alicdn.com/t/font_xh651p968kbg9zfr.ttf') format('truetype'), url('//at.alicdn.com/t/font_xh651p968kbg9zfr.svg#iconfont') format('svg');
}

.icon {
    font-family: 'iconfont';
    font-style: normal;
    display: inline-block;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-voice::before {
    content: '\e64f';
}

.icon-search::before {
    content: '\e620';
}

.icon-music::before {
    content: '\e649';
}

.icon-yun-music::before {
    content: '\e640';
}

.icon-account::before {
    content: '\e76a';
}

.icon-friend::before {
    content: '\e7a3';
}

.icon-note::before {
    content: '\e6d0';
}

.icon-headset::before {
    content: '\e641';
}

.icon-movie::before {
    content: '\e737';
}

.icon-triangle-right::before {
    content: '\e642';
}

.icon-add::before {
    content: '\e646';
}

.icon-yun::before {
    content: '\e644';
}

.icon-article::before {
    content: '\e629';
}

.icon-download::before {
    content: '\e64e';
}

.icon-recent-play::before {
    content: '\e676';
}

.icon-my-singer::before {
    content: '\e64a';
}

.icon-my-radio::before {
    content: '\e6f4';
}

.icon-love::before {
    content: '\e655';
}

.icon-back::before {
    content: '\e6c2';
}

.icon-share::before {
    content: '\e663';
}

// -----播放器 icon------------------------
.icon-controller-play::before {
    content: '\e654';
}

.icon-controller-suspend::before {
    content: '\e64d';
}

.icon-controller-up::before {
    content: '\e6e1';
}

.icon-controller-down::before {
    content: '\e718';
}

.icon-controller-download::before {
    content: '\e653';
}

.icon-controller-menu::before {
    content: '\e652';
}

.icon-controller-menu2::before {
    content: '\e651';
}

.icon-controller-comment::before {
    content: '\e67b';
}